<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='vendor/materialize/css/materialize.min.css')}}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='pybookstore/css/style.css')}}" media="screen,projection">   
    
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery/jquery-3.3.1.min.js')}}"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <title>{% block title %}Pybookstore{% endblock %}</title>
    {% block extrahead %}{% endblock %}
  </head>
  <body>

    {# navbar #}
    <nav class="blue lighten-2">
      <div class="nav-wrapper">
        &nbsp;&nbsp;<a href="/" class="waves-effect brand-logo">PybookStore</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/books/mybooks">Books</a></li>
          <li><a href="#!">About</a></li>
          <li><a href="#!"><i class="material-icons">person</i></a></li>
        </ul>
      </div>
    </nav>
    <main>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages is not none %}
          {% for category, message in messages %}
            {% if category == 'success' %}
              <div class="teal lighten-1 white-text center">{{ message }}</div>
            {% elif category == 'error' %}
              <div class="red darken-2 white-text center">{{ message }}</div>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </main>
    <footer class="page-footer blue-grey darken-2">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">About Us</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">API Doc</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Privacy Policy</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Terms of Use</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright blue-grey darken-3">
        <div class="container">
          &copy; 2019 PybookStore
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/materialize/js/materialize.min.js')}}"></script>
    {% block extrabody %}{% endblock %}
  </body>
</html>
