{% extends 'base.html' %}
{% block title %}Pybookstore | {{ book.title }} - {{ book.author }}{% endblock %}
{% block content %}

<div class="row">
  <div class="col s12 m9">
    <div class="card white">
      <div class="card-content">
        <span class="card-title">
		  {{ book.title }}{{ ': ' + book.subtitle if book.subtitle is not none }} - {{ book.author }}
		</span>
		<br>
		<p>{{ book.description if book.description is not none else 'N/A' }}</p>
		<br>
		<b></b>

		<table class="striped">
		  <tbody>
			<tr><td>
				<p><b>Author: </b> {{ book.author if book.author is not none else 'N/A' }}</p>
			</td></tr>
			<tr><td>
				<p><b>Publisher: </b> {{ book.publisher if book.publisher is not none else 'N/A' }}</p>
			</td></tr>
			<tr><td>
				<p><b>Edition: </b> {{ book.edition if book.edition is not none else 'N/A' }}</p>
			</td></tr>
			<tr><td>
				<p><b>Year: </b> {{ book.year if book.year is not none else 'N/A' }}</p>
			</td></tr>
			<tr><td>
				<p><b>Language: </b> {{ book.language if book.language is not none else 'N/A' }}</p>
			</td></tr>
			<tr><td>
				<p><b>Price: </b> {{ book.price if book.price is not none else 'N/A' }}</p>
			</td></tr>
		  </tbody>
		</table>

		<br>
		<hr>
		<br>

		<h5>More about this book</h5>
		<br>
		<table class="striped">
		  <tbody>
			<tr><td>
				<p><b>Format: </b> {{ book.format if book.format is not none else 'N/A' }}</p>
			</td></tr>
			<tr><td>
				<p><b>Number of pages: </b> {{ book.pages if book.pages is not none else 'N/A' }}</p>
			</td></tr>
			<tr><td>
				<p><b>Weight (kg): </b> {{ book.weight if book.weight is not none else 'N/A' }}</p>
			</td></tr>
			<tr><td>
				<p><b>Height (cm): </b> {{ book.height if book.height is not none else 'N/A' }}</p>
			</td></tr>
			<tr><td>
				<p><b>Width (cm): </b> {{ book.width if book.width is not none else 'N/A' }}</p>
			</td></tr>
			<tr><td>
				<p><b>ISBN: </b>{{ book.isbn if book.isbn is not none else 'N/A' }}</p>
			</td></tr>
		  </tbody>
		</table>
		
      </div>
      <div class="card-action">
		<!--<a href="#">This is a link</a>-->
      </div>
    </div>
  </div>
  <div class="col s12 m3">
	<div class="card">
      <div class="card-content">
        <span class="card-title">Sidebar</span>
        <p>Some text...</p>
      </div>
      <div class="card-action">
        <!--<a href="#">This is a link</a>-->
      </div>
	</div>
  </div>

  {% endblock %}
