swagger: "2.0"
info:
  description: Swagger file, server's configuration
  version: "1.0.0"
  title: Swagger Pybookstore
consumes:
  - application/json
produces:
  - application/json

basePath: /api

paths:
  /books:
    get:
      operationId: pybookstore.api.books.read_all
      tags:
        - Books
      summary: The books data structure supported by the server application
      description: Read the list of books
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              properties:
                id:
                  type: integer
                title:
                  type: string
                subtitle:
                  type: string
                price:
                  type: number
                height:
                  type: number
                width:
                  type: number
                weight:
                  type: number
                author:
                  type: string
                description:
                  type: string
                year:
                  type: integer
                format:
                  type: string
                pages:
                  type: integer
                language:
                  type: string
                publisher:
                  type: string
                edition:
                  type: integer
                isbn:
                  type: string
    post:
      operationId: pybookstore.api.books.create
      tags:
        - Books
      summary: Create a new book
      description: Create a new book
      parameters:
        - name: book
          in: body
          description: book to create
          required: True
          schema:
            type: object
            properties:
              title:
                type: string
              subtitle:
                type: string
              price:
                type: number
              height:
                type: number
              width:
                type: number
              weight:
                type: number
              author:
                type: string
              description:
                type: string
              year:
                type: integer
              format:
                type: string
              pages:
                type: integer
              language:
                type: string
              publisher:
                type: string
              edition:
                type: integer
              isbn:
                type: string
      responses:
        201:
          description: CREATED


  /books/{book_id}:
    get:
      operationId: pybookstore.api.books.read
      tags:
        - Books
      summary: Return a book by ID
      description: Read a book
      parameters:
        - name: book_id
          in: path
          required: true
          description: ID of the book
          type: integer
      responses:
        200:
          description: OK
          schema:
            properties:
              id:
                type: integer
              title:
                type: string
              subtitle:
                type: string
              price:
                type: number
              height:
                type: number
              width:
                type: number
              weight:
                type: number
              author:
                type: string
              description:
                type: string
              year:
                type: integer
              format:
                type: string
              pages:
                type: integer
              language:
                type: string
              publisher:
                type: string
              edition:
                type: integer
              isbn:
                type: string
