@font-face {
    font-family: "Cablin";
    src: url("/static/vendor/fonts/cablin/Cabin-Regular.ttf") format('truetype');
}

body {
    font-family: "Cablin";
}

hr {
	border-color: $light-gray-1;
	border-width: 1px;
	border-style: solid;
}

main p {
	text-align: justify;
}
